<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pet Clinic - Owner Page</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.vinod.petclinic.model.Owner"*/-->
<h2 th:text="'List of Owners'">List of Owners</h2>

<table id="vets" class="table table-striped">
    <thead>
        <tr>
            <td style="width: 150px;">Id</td>
            <td style="width: 200px;">First Name</td>
            <td style="width: 200px;">Last Name</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.firstName}"></td>
            <td th:text="${owner.lastName}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>